<div class="hero-unit">
  <h1>Bloccit</h1>
  <p>Bloccit is a resource for sharing links with your friends!</p>
  <p>
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>EmbarrASS Yourself</h2>
    <p>Some of us actually love the new Miley song. We get it. Embrace it. Share it.</p>
  </div>
  <div class="span4">
    <h2>Real Celebrity Members</h2>
    <p>Yes, from time to time Mike Jewett actually posts here. No ghost writing, the real deal MJ Hollyfield.</p>
  </div>
  <div class="span4">
    <h2>Penguins Coming Soon</h2>
    <p>Trust me, get in early. It will be worth it.</p>
  </div>
</div>