<h1>Welcome to BWitty-Bloccit</h1>
<p id="index-title">This is THE home page for BWitty-Bloccit. Are you too good for your home?</p>

<div class="posts">Except that the puppy was a dog. But the industry, my friends, that was a revolution.</div>
<div class="posts">Coming soon: Mike Jewett candids.</div>

